.DS_Store
FBSnapshotTestCaseDemo/Pods
FBSnapshotTestCaseDemo/FBSnapshotTestCaseDemo.xcworkspace
FBSnapshotTestCaseDemo/FBSnapshotTestCaseDemo.xcodeproj/project.xcworkspace/*
FBSnapshotTestCaseDemo/FBSnapshotTestCaseDemo.xcodeproj/xcuserdata/*
